div.navigation {
    font-family: Calibri, sans-serif;
    background-color: #E67E22;
    width: 100%;
    height: 75px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

a {
    font-family: Calibri, sans-serif;
    background-color: #E67E22;
    color: #FFFFFF;
    height: 100%;
    text-decoration: none;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    background-color: #D35400;
}

a:visited {
    color: #FFFFFF;
}